/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(
    -45deg,
    var(--clr-grey-6),
    var(--clr-grey-7),
    var(--clr-grey-8),
    var(--clr-grey-9)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
.section-heading {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin-top: 5rem;
}
.section-heading h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.section-heading p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: justify;
}

@media screen and (min-width: 800px) {
  .section-heading {
    width: 80vw;
    padding: 2rem;
  }
  .section-heading h2 {
    font-size: 3rem;
  }
}
/*
=============== 
Search
===============
*/
.search-form {
  width: 90vw;
  height: 33vh;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto auto;
  gap: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
}

.search-form div {
  padding: 1rem;
}

.search-form button {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5rem;
  font-size: 1rem; /* set font size */
  cursor: pointer; /* add pointer cursor on hover */
  transition: background-color 0.3s ease;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (min-width: 800px) {
  .search-form {
    width: 80vw;
    padding: 2rem;
  }

  .search-form h1 {
    font-size: 3rem;
  }

  .search-form > div > * {
    flex: 1 1 30%;
  }
}
@media screen and (min-width: 320px) {
  .search-form {
    width: 95vw;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .search-form h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .search-form > div > * {
    flex: 1 1 80%;
  }

  .search-form button {
    padding: 1rem;
    font-size: 1.2rem;
    margin: 1rem 0 0;
    border-radius: 5px;
  }
}

@media screen and (min-width: 375px) {
  .search-form {
    margin-top: 4rem;
    margin-bottom: 2.5rem;
  }

  .search-form h1 {
    font-size: 2.5rem;
  }

  .search-form > div > * {
    flex: 1 1 70%;
  }

  .search-form button {
    font-size: 1.3rem;
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 425px) {
  .search-form {
    width: 85vw;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    padding: 1rem;
  }
}

.form-input {
  width: 100%;
  border: none;
  border-bottom: 3px solid var(--clr-grey-8);
  max-width: 600px;
  background: transparent;
  padding: 0.5rem;
  color: var(--clr-grey-3);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.form-group label {
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: var(--primaryColor);
}

/*
=============== 
Buttons
===============
*/

.btn-container {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container p {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-container button {
  margin: 1rem;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  font-weight: bold;
  border-color: transparent;
  background: var(--clr-primary-5);
  border-radius: var(--radius);
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  cursor: pointer;
}
.btn-container button:disabled {
  cursor: not-allowed;
}

.button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/* 
====== 
Navbar
======
*/
.navbar {
  background: white;
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid var(--primaryColor);
  box-shadow: var(--lightShadow);
}
.nav-center {
  display: flex;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}
.nav-links a:hover {
  color: var(--primaryColor);
}
.logo {
  width: 3rem;
  height: auto;
}

/*
=============== 
Spinner
===============
*/
.spinner-container {
  position: relative;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

/*
=============== 
Story
===============
*/
.stories {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-bottom: 5rem;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 992px) {
  .stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: start; */
  }
}
.story {
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 1rem 2rem;
}

.title {
  line-height: 1.5;
  margin-bottom: 0.25rem;
}
.info {
  margin-bottom: 0.5rem;
  color: var(--clr-grey-5);
}

.read-link {
  font-size: 0.85rem;
  margin-right: 0.75rem;
  text-transform: capitalize;
  color: var(--clr-primary-5);
}

.remove-btn {
  background: transparent;
  color: var(--clr-red-dark);
  border-color: transparent;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 0.85rem;
}
